/*//////////////////////////////////////////////////////////////
//------------------------------------------------------------//
//------------------------------------------------------------//
//------------------------------------------------------------//
//-----------00000000000000000000-----------------------------//
//----------000-----------------000---------------------------//
//----------000-----------------000000000000000000------------//
//----------000----------------------------------000----------//
//----------000----------------------------------000----------//
//----------000-----------------000000000000000000------------//
//----------000-----------------000-------------000-----------//
//-----------00000000000000000000----------------000----------//
//------------------------------------------------------------//
//------------------------------------------------------------//
//------------------------------------------------------------//
//////////////////////////////////////////////////////////////*/

:root {
  --Swatch1: #476730;
  --Swatch2: #58af55;
  --Swatch3: #c5dc69;
  --Swatch4: #84a83f;
  --Swatch5: #e6dc4d;
  --Swatch6: #c59f28;
  --Swatch7: #f6d848;
}


/* COLOR */

.swatch-white {
  background-color: var(--BrightWhite);
}

.swatch-1 {
  background-color: var(--Swatch1);
}

.swatch-2 {
  background-color: var(--Swatch2);
}

.swatch-3 {
  background-color: var(--Swatch3);
}

.swatch-4 {
  background-color: var(--Swatch4);
}

.swatch-5 {
  background-color: var(--Swatch5);
}

.swatch-6 {
  background-color: var(--Swatch6);
}

.swatch-7 {
  background-color: var(--Swatch7);
}

.swatch-text-dark {
  color: var(--Swatch1);
}