/*//////////////////////////////////////////////////////////////
//------------------------------------------------------------//
//------------------------------------------------------------//
//------------------------------------------------------------//
//-----------00000000000000000000-----------------------------//
//----------000-----------------000---------------------------//
//----------000-----------------000000000000000000------------//
//----------000----------------------------------000----------//
//----------000----------------------------------000----------//
//----------000-----------------000000000000000000------------//
//----------000-----------------000-------------000-----------//
//-----------00000000000000000000----------------000----------//
//------------------------------------------------------------//
//------------------------------------------------------------//
//------------------------------------------------------------//
//////////////////////////////////////////////////////////////*/

/* COLOR */
/* WEST SAFARI */
.swatch-desert-1 {
  background-color: #bca57e;
}

.swatch-desert-2 {
  background-color: #635c00;
}

.swatch-desert-3 {
  background-color: #0e9d5f;
}

.swatch-desert-4 {
  background-color: #d37b00;
}

/* DEEP PACIFIC */

.swatch-pacific-1 {
  background-color: #1554a2;
}

.swatch-pacific-2 {
  background-color: #0c2f5b;
}

.swatch-pacific-3 {
  background-color: #aa3687;
}

.swatch-pacific-4 {
  background-color: #bec800;
}

/* KELP TANGO */

.swatch-kelp-1 {
  background-color: #3b5034;
}

.swatch-kelp-2 {
  background-color: #7fa172;
}

.swatch-kelp-3 {
  background-color: #008ba2;
}

.swatch-kelp-4 {
  background-color: #c60065;
}